@media (min-width: 0px) {
    nav{
        height : 34rem;
        padding : 2rem 5rem 2rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 5rem;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        gap : 3rem;
        list-style: none;
    }
}

@media (min-width: 500px) {
    nav{
        height : 13rem;
        padding : 2rem 15rem 2rem 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .nav-right{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap : 5rem;
    }

    .nav-links{
        display: flex;
        flex-direction: row;
        gap : 3rem;
        list-style: none;
    }

}

@media (min-width: 1200px) {
    nav{
        height : 9rem;
        padding : 2rem 15rem 2rem 15rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: -webkit-sticky; /* Safari */
        position : sticky;
        top: 0;
        background-color: white;
    }
}


.nav-title{
    font-size: 4rem;
    font-family: var(--title-font);
    user-select: none;
    color : #ffad49;
}

.nav-links li{
    position: relative;
    font-family: var(--normal-font);
    font-size: 1.7rem;
    white-space: nowrap;
}

.nav-links li:hover{
    cursor: pointer;
}

.nav-links li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--gray1);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.nav-login-btn{
    font-family: var(--normal-font);
    border : none;
    background-color: var(--gray2);
    font-size: 1.7rem;
    padding : 1rem;
    color : white;
    border-radius: 1rem;
    transition: all 0.3s;
    white-space: nowrap;
}

.nav-login-btn:hover{
    cursor: pointer;
    background-color: var(--gray1);
}

.nav-user{
    display: flex;
    flex-direction: row;
    gap : 2rem;
}

.nav-user-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 1.5rem;
}

.nav-user-profile img{
    border-radius: 100%;
    height : 4rem;
    width : 4rem;
    object-fit: cover;
    box-shadow: 0 0 50px #ccc;
}

.nav-user-profile p{
    font-family: var(--normal-font);
    font-size: 1.7rem;
}

.nav-logout-btn{
    border: none;
    font-family: var(--normal-font);
    background-color: var(--gray2);
    padding : 1rem;
    border-radius: 1rem;
    transition: all 0.3s;
    color : white;
    font-size: 1.7rem;
    padding : 1rem;
    white-space: nowrap;
}

.nav-logout-btn:hover{
    cursor: pointer;
    background-color: var(--gray1);
}