@media (min-width : 1250px){
    .tree-graph-node-container{
        display : grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap : 1rem;
    }
}

.tree-graph-node-comp{
    flex-grow: 1;
    padding : 3rem 2rem 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chart-comp-container h3, .tree-graph-node-map h3{
    font-size: 2rem;
    text-align: center;
    font-family: var(--normal-font);
    color : var(--gray2);
}

.tree-graph-node-rain, .tree-graph-node-bat-stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height : 25rem;
}

.rain-stat-title, .bat-stat-title{
    font-size: 4rem;
    font-family: var(--normal-font);
    color : var(--gray2);
}

.bat-stat-result, .rain-stat-result{
    font-size: 3rem;
    font-family: var(--normal-font);
    color : var(--gray2);
}


.back-to-tree-btn{
    position: absolute;
    bottom : 3rem;
    right : 3rem;
    font-family: var(--normal-font);
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem;
    border: none;
    background-color: var(--gray2);
    color : white;
    transition: all 0.3s;
}

.back-to-tree-btn:hover{
    cursor: pointer;
    background-color: var(--gray1);
}